@import "../../main.scss";

.SRSQuestions {
  //   width: 80%;
  height: auto;
  padding: 1em !important;
  padding-top: 0 !important;
  background-color: $primary-white;
  box-shadow: 10px 0px 45px rgba($primary, 0.15);
  //   text-align: center;

  &__Illustration {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  img {
    width: 450px;
  }
}
